*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

header{
    height: 700px;
    background-color: #3161e0;
}

/* contenitore logo menu e accedi */
.container-flex{
    display: flex;
    gap: 15%;
    padding: 30px 70px;

}

.container-flex section,nav{
    background-color: lightslategray;
}

/* logo e button accedi */
.container-flex section{
    height: 40px;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.container-flex section img,button{
    flex-basis: 80%;
}



/* barra nav */
.container-flex nav{
    height: 40px;
    flex-grow: 3;
    display: flex;
    justify-content: space-between;

}

.container-flex nav span{
    flex-basis: 10%;
}




/* contenitore primo articolo header */
header div:last-child{
    display: flex;
    justify-content: center;
    margin-block: 4%;

}



div article{
    flex-basis: 50%;
    background-color: rgb(207, 141, 42);
    min-height: 400px;
    display:flex;
    flex-direction: column;

    
}

article h1{
    height: 25%;
}

article p{
    height: 50%;
}

article div{
    height: 15%;
    display: flex;
    column-gap: 50px;    
}



